@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Norse-Bold';
    src: url('./resources/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

